@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,700i");

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: mediumslateblue;
  color: white;
  text-align: center;
}

button {
  background-color: mediumslateblue;
  color: white;
  border: 0px solid;
}

#yt3ID {
  background-color: transparent;
  color: whitesmoke;
  width: 30%;
  text-align: center;
  border: blueviolet 2px solid;
  border-radius: 5px;
  padding: 1em;
  font-size: large;
}

#yt3ID::placeholder {
  color: azure;
}

#yt3Btn {
  background-color: transparent;
  color: white;
  border: white 1px solid;
  border-radius: 10px;
  font-size: large;
  padding: 1em;
}

#yt3Dld {
  padding: 1em;
}

#yt3Dld a {
  color: white;
  text-transform: uppercase;
  border: 1px white solid;
  border-radius: 1em;
  padding: 10px;
  text-decoration: none;
}

.des {
  font-size: large;
}